.wrapper{
    height: 100vh;

}
label{
    color: white;
}
.wrapper .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 500px;
 
    background: #4d5455;
    border-radius: 10px;
    padding: 20px;
}
#msg{
    display: none;
}
@media only screen and (max-width:500px){
    .form-box{
    width: 300px;
}
